# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Predictor de generación fotovoltaica y de precios del mercado minorista de la electricidad"

### Tema

In [ ]:
tema = "Predictor de generación fotovoltaica y de precios del mercado minorista de la electricidad"

Establecer, a través de las fuentes de generación fotovoltaica, estrategias de predicción que tomen en cuenta variables meteorológicas como la velocidad y dirección del viento, la temperatura, la humedad y la nubosidad, entre otros. 

El análisis profundiza en cómo, mediante el análisis de predicciones de irradiancia y la interpretación de datos climáticos, es posible optimizar la generación de energía fotovoltaica en las instalaciones de la Universidad de Alcalá.

Tras evaluar los distintos factores, se estableció que las variables a emplear para el modelo de predicción incluirían: la energía generada a través de la fotovoltaica, el indicador booleano que diferencia entre días festivos y laborables, la hora del día y el mes (por razones semejantes a las explicadas en el apartado de predicción de la irradiancia), la energía generada mediante tecnología eólica, el precio del gas y finalmente, el histórico de precios de la electricidad.

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Regresión" 
target_descr = "Precio de la electricidad" 
metricas = [] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlaces = [dataset creado a traves de datos propios ] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

In [5]:
df = pd.read_csv("C:/Users/laura/OneDrive/Desktop/PROYECTO ML/tabla_precios.csv")

In [6]:
print(df.shape)
print('-------'*100)
print(df.columns)
print('-------'*100)
df.info()

(67127, 10)
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Index(['GHI', 'Festivo', 'Gas', 'PotenciaViento', 'Ano', 'Mes', 'Dia', 'Hora',
       'GMT', 'Precios'],
      dtype='object')
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67127 entries, 0 to 67126
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GHI             67127 non-null  object
 1   Festivo         67127 non-null  int64
 2   Gas             67127 non-null  float64
 3   PotenciaViento  67127 non-null  object
 4   Ano             67127 non-null  int64
 5   Mes             67127 non-null  int64
 6   Dia             67127 non-null  int64
 7   Hora            67127 non-null  int64
 8   GMT             67127 non-null  int64
 9   Precios         67127 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 5.1+ MB

In [7]:
print(df.isnull().sum())
print('-----'*100)
print('Duplicated:', df.duplicated().sum())

GHI               0
Festivo           0
Gas               0
PotenciaViento    0
Ano               0
Mes               0
Dia               0
Hora              0
GMT               0
Precios           0
dtype: int64
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Duplicated: 0

In [8]:
df.head()

   GHI  Festivo    Gas PotenciaViento   Ano  Mes  Dia  Hora  GMT  Precios
0  114        1  16.93          18104  2016    1    1     0    1    48.55
1  114        1  16.93          19895  2016    1    1     1    1    40.00
2  114        1  16.93          21981  2016    1    1     2    1    33.10
3  114        1  16.93          25509  2016    1    1     3    1    28.11
4  114        1  16.93          30320  2016    1    1     4    1    27.13